body {
	background-color: antiquewhite;
}

.snl {
	padding: 1em;
	font-size: 2em;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 800;
}

.board {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	background-color: rgb(80, 140, 190);
}

.board:nth-child(2n) {
	background-color: pink;
}

.cell {
	padding: 1em;
	border: 1px solid yellow;
}

/***** dice *****/  
#dice {
	width:5em;
	margin: 0 auto;
	text-align: center;
	font-size: 5em;
	padding: 0.25em;
}
  
/*****  button *****/
#button {
	margin: 1em auto;
	display: block;
	background: none;
	border: none;
	font-size: 1em;
	padding: 1.25em;
	background-color: yellowgreen;
	border-radius: 0.5em;
}

#button:hover {
	background-color: green;
	transition: 1s;
	border-radius: 3em;
	color: white;
}